@charset "utf-8";

/* 全局设置 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:14px "微软雅黑";}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-size:14px;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
a,span,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul,ol{list-style:none;}
a{text-decoration:none;cursor:pointer;}
a:hover{cursor:pointer;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
@font-face{font-family:'HelveticaRegular';font-weight:normal;font-style:normal;}
body{padding:0;margin:0 auto;}
body,html{height:100%;}
pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;font:12px "宋体";}
em, i {font-style: normal;}
.grid_1,.grid_2,.grid_3,.grid_4{/*float:left;position:relative;margin-left:1%;margin-right:1%*/}
.grid_1{width:23%}
.grid_2{width:48%}
.grid_3{width:73%}
.grid_4{width:100.0%}
audio,img,video{max-width:100%}
@media only screen and (max-width:768px){html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none}.grid_1,.grid_2,.grid_3,.grid_4{float:none;width:100%;margin:0 0 2.5em}}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}

.w-left{ float:left;}
.w-right{ float:right;}
.f_size12{ font-size:12px;}
.f_size14{ font-size:14px;}
.f_size18{ font-size:18px;}
.f_size36{ font-size:36px;}
.co1{ color:#e3a487;}
.co2{ color:#333;}
.co3{ color:#676a73;}
.co4{ color:#fc8200;}
.co5{ color:#e20027;}
.co6{ color:#999;}
.w60{width: 60px;}
.w80{width: 80px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w140{width: 140px;}
.w160{width: 160px;}
.w180{width: 180px;}
.w220{width: 220px;}
.w260{width: 260px;}
input.w180{width: 180px;_width: 178px;}
input.w220{width: 220px;_width: 218px;}
input.w260{width: 260px;_width: 258px;}

.b-none{border: 0!important;}
.b-all{border:1px solid #dddddd!important;}
.b-top{border-top:1px solid #dddddd!important;}
.b-right{border-right:1px solid #dddddd!important;}
.b-bottom{border-bottom:1px solid #dddddd!important;}
.b-left{border-left:1px solid #dddddd!important;}