/*! define alice/iconfont/1.0.0/iconfont-debug.css */
/* 
 * @name: ui-iconfont
 * @overview: REI——支付宝的iconfont
 * @require: 无
 */
@font-face {
	font-family:rei;
	src:url(fonts/rei.eot);
	src:url(fonts/rei.eot?#iefix) format("embedded-opentype"),url(fonts/rei.woff) format("woff"),url(fonts/rei.ttf) format("truetype"),url(fonts/rei.svg#rei) format("svg");
	font-weight:400;
	font-style:normal
}
.iconfont {
	font-family:rei;
	font-style:normal;
	cursor:default;
	-webkit-font-smoothing:antialiased
}